.container-area {
  padding: 40px 10px 10px;
}

.list-form-area {
  width: 100%;
}

.list-search-input {
  margin: 15px 10px 0;
  font-size: 14px;
}

.list-area {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  font-size: 14px;
}

.list-item-area:not(.list-item-area:last-child) {
  border-bottom: 2px solid var(--gray300);
}

.list-item-image {
  margin-right: 16px;
  border-radius: 50%;
}

.list-item-area span {
  font-weight: 600;
}

.list-item-area p {
  color: var(--black600);
}
